
@font-face {
	font-family: 'Wolf in the City';
	src: url('Wolf in the City.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu-Light.ttf');
	font-weight: 300;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center 0;
	background-attachment: fixed;
	font-family: 'Ubuntu', sans-serif;
}

span#number {
	position: fixed;
	display: none;
	top: 0.5em;
	left: 1em;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5em;
	font-weight: 300;
	z-index: 100;
}

span#email {
	position: fixed;
	display: none;
	top: 0.5em;
	right: 1em;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5em;
	font-weight: 300;
	z-index: 100;
}

span#email a {
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
}

span#header {
	position: absolute;
	display: none;
	top: 1em;
	right: 0;
	left: 0;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	z-index: 99;
}

section#main {
	width: 100%;
	height: 100%;
	margin: 0;
}

section#main h1 {
	display: none;
	color: rgba(0, 0, 0, 0.75);
	padding: 0;
	margin: 0;
	font-family: 'Wolf in the City', cursive;
	font-size: 15em;
	font-weight: 400;
	line-height: 0.75em;
	text-align: center;
}

section#main h2 {
	display: none;
	color: rgba(0, 0, 0, 0.75);
	padding: 0;
	margin: 0;
	font-family: 'Wolf in the City', cursive;
	font-size: 5em;
	font-weight: 400;
	line-height: 0.75em;
	text-align: center;
}

section#main>span {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% - 60px);
	color: rgba(255, 255, 255, 0.75);
	width: 100%;
	font-size: 40px;
	text-align: center;
}

section#main span span {
	cursor: pointer;
}

section#content {
	background-color: rgba(0, 0, 0, 0.75);
	width: 80%;
	padding: 2.5em 10%;
	margin: 0;
}

section#content h3 {
	color: rgba(255, 255, 255, 0.75);
	padding: 0;
	margin: 0;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

section#content h4 {
	color: rgba(255, 255, 255, 0.625);
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}

section#content img {
	display: block;
	width: 45%;
	padding: 0;
	margin: 0 auto;
	border: 10px solid #fff;
	opacity: 0.75;
}

section#content p {
	color: rgba(255, 255, 255, 0.75);
	padding: 0.5em 0;
	margin: 0.5em 0;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

section#content h2 {
	color: rgba(255, 255, 255, 0.875);
	padding: 0.125em 0;
	margin: 0;
	font-size: 2em;
	font-weight: 300;
	line-height: 1em;
	text-align: center;
}

section#content h2 span {
	font-size: 1.125em;
}
